#wrapper, #btnPrintPDF, #btnBack {
    display: none;
}

#informer .inputText, #informer .inputText input {
	width: 100%;
}

#getUrl{
	
	margin: 320px auto 0 auto;
	text-align: center;
	
}
#url {
    width: 585px;
    height: 30px;
	text-align: center;
}

.alignCenter {
	margin:0 auto;
}

.removeViolation {
	padding-left: 10px;
}
 @media print { /* Стиль для печати */  
    h1, h2, p {color: #000;  }
	#wrapper > .row-fluid {width: 900px;}
	.btn2 {display: none;}
	
}

 
   